@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';