@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate.min';

@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

@import 'blocks/mixins';