.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    &_main {
        font-size: 16px;
        width: 300px;
        height: 50px;
    }
}