.form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4b4b4b;
        background-color: fff;
        margin-bottom: 15px;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }

}