.promo {
    min-height: 650px;
    padding: 20px 0 53px 0;
    background: url("../img/bg.jpg") center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #fff;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 67px;
        img {
            display: block;
            margin: 0 auto;
        }

    }
    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
        }

    }
}
